In [6]:
import pandas as pd
import pandas as pd
import numpy as np
from os import listdir, chdir, scandir
from os.path import isfile, join, splitext
import re
from geojson_rewind import rewind

In [7]:
geojson = """
{
  "type": "Feature",
  "geometry": {
    "type": "Polygon",
    "coordinates": [[
       [33.018237, 33.574572], [33.005874, 33.721603], [33.002648, 33.675306], [32.946582, 33.652649], [33.054096, 33.664537], [33.018237, 33.574572]
    ]
    ]
  },
  "properties": {
    "name": "Leviathan"
  }
}
"""

geojson = rewind(geojson)
geojson

'{"type": "Feature", "geometry": {"type": "Polygon", "coordinates": [[[33.018237, 33.574572], [33.054096, 33.664537], [32.946582, 33.652649], [33.002648, 33.675306], [33.005874, 33.721603], [33.018237, 33.574572]]]}, "properties": {"name": "Leviathan"}}'

In [8]:
reports_path = "/Users/urimarom/DataScience/Fossil Classification/download reports/"
chdir(reports_path)
all_holdings_final = pd.read_csv("all_holdings.csv")
all_holdings_final.head()

/Users/urimarom/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,שם המנפיק/שם נייר ערך,"מספר ני""ע",מספר מנפיק,דירוג,שם מדרג,סוג מטבע,שעור ריבית,תשואה לפדיון,שווי,שעור מנכסי אפיק ההשקעה,...,כתובת הנכס,ריבית אפקטיבית,SystemName,ParentCorpName,ParentCorpLegalId,ProductNum,Name,ShortName,StatusDate,ReportPeriodDesc
0,שקל חדש,1111111111,12,ilAAA,S&P מעלות,שקל חדש,0.0,0.0,0.000070,7.365155e-10,...,NaN,NaN,חיים ואובדן כושר עבודה,"הראל חברה לביטוח בע""מ",520004078,93,הראל מסלול שיקלי טווח קצר,הראל מסלול שיקלי טווח קצר,02/09/2021,2021 רבעון 2
1,שקל חדש,1111111111,11,ilAAA,S&P מעלות,שקל חדש,0.0,0.0,301.379342,3.151393e-03,...,NaN,NaN,חיים ואובדן כושר עבודה,"הראל חברה לביטוח בע""מ",520004078,93,הראל מסלול שיקלי טווח קצר,הראל מסלול שיקלי טווח קצר,02/09/2021,2021 רבעון 2
2,שקל חדש,1111111111,31,ilAAA,S&P מעלות,שקל חדש,0.0,0.0,0.189981,1.986549e-06,...,NaN,NaN,חיים ואובדן כושר עבודה,"הראל חברה לביטוח בע""מ",520004078,93,הראל מסלול שיקלי טווח קצר,הראל מסלול שיקלי טווח קצר,02/09/2021,2021 רבעון 2
3,שקל חדש,1111111111,10,ilAAA,S&P מעלות,שקל חדש,0.0,0.0,60100.193241,6.284416e-01,...,NaN,NaN,חיים ואובדן כושר עבודה,"הראל חברה לביטוח בע""מ",520004078,93,הראל מסלול שיקלי טווח קצר,הראל מסלול שיקלי טווח קצר,02/09/2021,2021 רבעון 2
4,אירו,49,10,ilAAA,S&P מעלות,אירו,0.0,0.0,0.120799,1.263141e-06,...,NaN,NaN,חיים ואובדן כושר עבודה,"הראל חברה לביטוח בע""מ",520004078,93,הראל מסלול שיקלי טווח קצר,הראל מסלול שיקלי טווח קצר,02/09/2021,2021 רבעון 2

In [9]:
migdal_p = all_holdings_final[(all_holdings_final["ParentCorpName"].str.startswith("מגדל")) &
                             (all_holdings_final["SystemName"] == "פנסיה")
                            ]
migdal_p_report = pd.DataFrame(migdal_p.groupby(["ProductNum", "ShortName"])["שווי"].agg('sum').map('{:,.2f}'.format)).reset_index()
migdal_p_report

    ProductNum                            ShortName           שווי
0         2102                      מקפת אישית כללי  62,607,109.71
1         2112                 מגדל מקפת אישית הלכה   1,132,152.25
2         2142                מגדל מקפת אישית מניות   2,067,624.37
3         2143        מגדל מקפת אישית שקלי טווח קצר     169,198.50
4         2144                 מגדל מקפת אישית אג"ח     271,769.97
5         2145                     מקפת משלימה כללי     838,344.64
6         2146                    מקפת משלימה מניות      49,685.17
7         2147            מקפת משלימה שקלי טווח קצר       2,528.74
8         2148                     מקפת משלימה אג"ח       5,041.36
9         2149                     מקפת משלימה הלכה       5,580.40
10        2207        מקפת אישית למקבלי קצבה קיימים   3,562,978.52
11        2208       מקפת משלימה למקבלי קצבה קיימים     115,297.70
12        8602       מקפת אישית לזכאים קיימים לקצבה      78,296.37
13        8603  מקפת אישית הלכה למקבלי קצבה קיימים          504.76
14        8801         מגדל מקפת אישית לבני 50 ומטה  12,337,277.85
15        8802        מגדל מקפת אישית לבני 50 עד 60   2,677,237.22
16        8803        מגדל מקפת אישית לבני 60 ומעלה   1,494,291.41
17        9453             מקפת משלימה לבני 50 ומטה     345,233.33
18        9454            מקפת משלימה לבני 50 עד 60     106,463.64
19        9455            מקפת משלימה לבני 60 ומעלה      60,842.12
20       12145               מקפת אישית למקבלי קצבה   3,668,102.73
21       12146          מקפת אישית הלכה למקבלי קצבה      24,556.05
22       12147         מקפת אישית מניות למקבלי קצבה      14,213.49
23       12148          מקפת אישית אג"ח למקבלי קצבה      11,156.61
24       12152              מקפת משלימה למקבלי קצבה      63,899.34
25       13572      מגדל מקפת אישית מחקה מדד S&P500      49,048.62
26       13627     מגדל מקפת משלימה מחקה מדד S&P500       1,234.05

In [12]:
# report drill down
def report_sums_by_type(report_id):
    rep = all_holdings_final[all_holdings_final["report_id"] == report_id]
    return pd.DataFrame(rep.groupby("holding_type")["שווי"].agg('sum').map('{:,.2f}'.format))
    
report_sums_by_type(2129419)

Empty DataFrame
Columns: [שווי]
Index: []